:root {
    --color-de-fondo: #000;
    --textos:#fff;
    --pasar:rgb(34, 166, 206);

}

h1,h2,h3,h4,h5,h6,p,a,label,input {
    color: var(--textos);
}


body {
    background-color: var(--color-de-fondo);

    width: 100%;
    height: 100%;
}