<%- include('../partes/_repetidos') -%>


    <link rel="stylesheet" href="../../public/static/MisionVision.css">
    <link rel="stylesheet" href="../..//src/public/static/responsive/mains/responsive-main.css">
    <link rel="stylesheet" href="../..//src/public/static/responsive/MisionVision-responsive.css">

    <title>Mision y Vision</title>
</head>
<body>
    <!-- principio -->
    <div class="principio">
        <header id="title_principal">
            <h1 id="texto_titulo_principal">PIACERI</h1>

        </header>

        <!-- registros -->
            <div class="registro">
                <nav class="reg">
                    <ul class="registros">
                        <li><a href=/registrarse>Registro</a></li>
                        <li><a href="/iniciar">iniciar</a></li>
                    </ul>
                </nav>
            </div>
        <!-- registros fin -->
|    </div>

<!--principio -->
<!--barra de navegacion-->
    <div id="navbar_full">
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="/">Inicio</a> </li>
                <li><a href="#">Nuestras pizzas</a> 
                <ul class="submenu">
                    <li><a href="/comerciales">Comerciales</a>
                    <li><a href="/combos">Combos</a></li>
                    
                </ul>
                </li>
                <li><a href="#">Sobre Nosotros</a>
                <ul class="submenu">
                    <li><a href="/mision">Mision y vision</a></li>
                    <li><a href="/historia">Nuestra Historia</a></li>
                </ul>
                </li>
            
                
            </ul>
        </nav>
    </div>
<!--fin de navegacion-->

<!--modo oscuro-->
    <div class="bloqueo">
        <ol>
            <blockquote class="bloque_modo_oscuro">
                <label for="dark_mode" class="dark_mode_button" id="mode_color">
                    <input id="dark_mode" class="mode_colors" type="checkbox" onclick="document.documentElement.classList.toggle('dark_mode')">
                    ver modo claro
                </label>
            </blockquote>
        </ol>
    </div> 
<!--fin de modo oscuro-->

    <div class="cuerpo todo">
        <div class="mision texto">
            <p>Nuestra misión siempre fue ser una de las mejores pizzerías y que los comensales nos 
                recomendaran por ser una pizzería agradable y cómoda</p>
        </div>

        <div class="imagen">
            <img src="../../public/img/img-mision y vision/mision-vision.png" alt="" class="img">
        </div>

        <div class="vision texto">
            <p>Nuestra visión es poder crecer en el país y de él país con nuestras pizzas, agradando a 
                los comensales con nuestro servicio</p>
        </div>

    </div>



    <footer>
        <p class="fp1"><email>pizeria@gmail.com</email></p>
        <p class="fp2">Cel:3233892768</p>
       <p>© derechos de autor</p>
    </footer>
</body>
</html>